<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:insert="~{components::head}"></head>
<body>

<div class="container" th:replace="~{components::header}"></div>

<main th:switch="${route}">

  <div th:case="'homePage'">
    <div th:replace="~{components::homePage}"></div>
  </div>
  <div th:case="'catalog'">
    <div th:replace="~{components::catalog}"></div>
  </div>
  <div th:case="'productAdd'">
    <div th:replace="~{components::productAdd}"></div>
  </div>
  <div th:case="'productDetails'">
    <div th:replace="~{components::productDetails}"></div>
  </div>
  <div th:case="'*'">
    Not found!
  </div>

</main>

<div class="container" th:replace="~{components::footer}"></div>

<div th:replace="~{components::script}"></div>
</body>
</html>