<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Магазин открыток</title>
  <link rel="icon" type="image/vnd.microsoft.icon" href="../static/favicon.ico"
        th:href="@{/favicon.ico}"/>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap-icons.css" th:href="@{/css/bootstrap-icons.css}">
</head>
<body>

<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="index.html" th:href="@{~/index.html}"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="../static/images/logo.png" alt="Logo" th:src="@{/images/logo.png}">
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="index.html" class="nav-link text-muted"
                              aria-current="page" th:href="@{~/index.html}">Главная</a></li>
      <li class="nav-item"><a href="product-catalog.html" class="nav-link text-muted"
                              th:href="@{~/product/catalog}">Каталог</a></li>
      <li class="nav-item"><a href="product-add.html" class="nav-link text-muted"
                              th:href="@{~/product/add}">Добавить открытку</a></li>
    </ul>
  </header>
</div>

<main>

  <section class="py-1 text-center container">
    <div class="row py-lg-1">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Магазин открыток</h1>
        <p class="lead text-muted">Открытки всем!</p>
        <p>
          <a href="#" class="btn btn-secondary my-2">Смотреть все</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3" th:remove="all-but-first">
        <div class="col" th:each="product : ${prods}">
          <div class="card shadow-sm">
            <img src="../static/images/holiday.jpg" alt="фото"
                 th:src="@{'product/image/' + ${product.image}}">
            <div class="card-body">
              <p class="card-text" th:text="${product.name}">Корзинка с яйцами</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="product-details.html" class="btn btn-outline-secondary"
                     th:href="'product/' + ${product.id}">
                    <i class="bi bi-info-circle"></i>
                  </a>
                  <a href="#" class="btn btn-outline-secondary">
                    <i class="bi bi-cart"></i>
                  </a>
                </div>
                <small class="text-muted" th:text="(${product.price} == null ? '' : ${product.price} + ' р.')">17 р.</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2023 Магазин открыток.</p>
    <a href="index.html" th:href="@{~/index.html}"
       class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../static/images/logo.png" alt="Logo" th:src="@{/images/logo.png}">
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="index.html" class="nav-link px-2 text-muted"
                              th:href="@{~/index.html}">Главная</a></li>
      <li class="nav-item"><a href="product-catalog.html" class="nav-link px-2 text-muted"
                              th:href="@{~/product/catalog}">Каталог</a></li>
    </ul>
  </footer>
</div>

<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>